@page "/product"
@using buibaquang_aspcoreblazor.Models.Models
@using buibaquang_aspcoreblazor.Wasm.Components
@using buibaquang_aspcoreblazor.Wasm.Services


<h3 class="text-center my-4">Product List</h3>

@if (Products == null || Categories == null)
{
    <LoadingIndicator />
}
else
{
    <div class="container">
        <EditForm Model="@ProductListSearch" OnSubmit="@SearchForm">
            <div class="row mb-4">
                <div class="col-md-3">
                    <label for="productName">Name</label>
                    <InputText id="productName" class="form-control" @bind-Value="ProductListSearch.Name" placeholder="Enter product name" />
                </div>
                <div class="col-md-3">
                    <label for="categorySelect">Category</label>
                    <InputSelect id="categorySelect" class="form-select" @bind-Value="ProductListSearch.CategoryId">
                        <option value="">--Select--</option>
                        @foreach (var item in Categories)
                        {
                            <option value="@item.Id">@item.Name</option>
                        }
                    </InputSelect>
                </div>
                <div class="col-md-3">
                    <label for="priceSelect">Price</label>
                    <InputSelect id="priceSelect" class="form-select" @bind-Value="ProductListSearch.Price">
                        <option value="">--Select--</option>
                        <option value="500">0 - 500</option>
                        <option value="1500">500 - 1500</option>
                        <option value="5000">1500 - 5000</option>
                    </InputSelect>
                </div>
                <div class="col-md-3 d-flex align-items-end">
                    <button class="btn btn-primary me-2" type="submit">Search</button>
                    <a href="/productCreate" class="btn btn-success">Create</a>
                </div>
            </div>
        </EditForm>
    </div>

    <div class="container mt-4">
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>Image</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th>Category</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Products)
                {
                    <tr>
                        <td>
                            <img src="@item.Image" alt="Product Image" width="150" height="150" class="img-thumbnail" />
                        </td>
                        <td>@item.Name</td>
                        <td>@item.Description</td>
                        <td>@item.Price</td>
                        <td>@GetCategoryName(item.CategoryId)</td>
                        <td>
                            <a href="/productDetail/@item.Id" class="btn btn-info btn-sm me-1">Detail</a>
                            <a href="/productUpdate/@item.Id" class="btn btn-warning btn-sm">Edit</a>
                            <button class="btn btn-danger btn-sm" @onclick="()=>OnDeleteProduct(item.Id)">Delete</button>
                        </td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <Pagination MetaData="MetaData" Spread="2" SelectedPage="SelectedPage"></Pagination>
            </tfoot>
        </table>
    </div>
    <Confirmation ConfirmationMessage="Are you sure to delete"
                  ConfirmationTitle="Delete Product"
                  ConfirmationChanged="OnConfirmDeleteProduct"
                  @ref="DeleteConfirmation">
    </Confirmation>
}

@code {

}
